/* это переменные, задают цвета */
:root {
    --color_font: #333;
}

/* шрифты, надписи */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../font/roboto-light-300.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: url("../font/roboto-light-300-italic.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../font/roboto-regular-400.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../font/roboto-medium-500.woff2") format("woff2");
}

.rust_font_fio {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;       
}

.rust_font_app_name {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;       
}

.rust_font_stack {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;    
}

.rust_font_stack_small {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;    
}

.rust_font_app_stack {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;    
}

.rust_font_link {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;    
}

/* шрифт для Опыта работы */

.rust_font_organization {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
}

.rust_font_profession {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;       
}

.rust_font_date_range {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;    
}


/* прочее */

body {
    color: var(--color_font);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;    
    font-size: 16px;
}

p {
    margin: 0;
}

.mt_70 {
    margin-top: 70px;
}

.mt_40 {
    margin-top: 40px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_10 {
    margin-top: 10px;
}


.ml_40 {
    margin-left: 40px;
}

.ml_50 {
    margin-left: 50px;
}

.pr_20 {
    padding-right: 20px;
}


.rust_text_align_right {
    text-align: right;
}

.rust_text_align_justify {
    text-align: justify;
}

.rust_line {
     border: 3px dotted var(--color_font);
}

.rust_hr_dashed {
	padding: 0;
	margin: 0;
	height: 0;
	border: none;
	border-top: 3px dashed #555;
    background: #fff;
}

.rust_profile_img {
    padding-bottom: 40px;
}

.rust_app_img {
    height: 100%;
    margin: 6px;
    box-shadow: 1px 1px 2px 2px #ccc;
}


/* вспомогательные классы, чтобы увидеть разметку, потом удалить */

.box {
    background-color: bisque;
    border: 1px solid black;
}

.rust_border_red {
    border: 1px solid red;
}

.rust_border_green {
    border: 1px solid green;
}

.rust_border_blue {
    border: 1px solid blue;
}

.rust_border_yellow {
    border: 1px solid yellow;
}

